body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
.container3 {
  width: 100%;
  height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-container {
  max-height: 470px;
  max-width: 1200px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: rgb(114, 215, 237);
  border-radius: 48px;
  padding: 48px;
  box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
  animation: fadeIn 1s;
}

ul {
  list-style: none;
  font-size: 20px;
}
li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid gray;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 12px;
}
h1 {
  width: 800px;
  padding: 0;
  margin: 50px 0 50px 0;
}
li p {
  margin-left: 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
